/*
MY COLOR PALETTE
Color 1 - #F0F8FF
Color 2 - #000000
Color 3 - #FFEBCD
Color 4 - #00008B
Color 5 - #A9A9A9
*/

body {
    background-color:#00008B;
    text-align:center;
}

div {
    width: 300px;
    height: 300px;
    text-align:center;
    font-size:37px;
    font-family: 'Courgette', bold;
    color:#000000;
    border:4px;
    border-color:aquamarine;
    padding:inherit;
    margin:auto;
}